<form>

    <h1> Login </h1>

    <label for="inputUsername">Username</label>
    <input type="text" #usernameText id="inputUsername" placeholder="Username" required autofocus> 
    <br>

    <label for="inputPassword">Password</label>
    <input type="password" #passwordText id="inputPassword" placeholder="Password" required>

    <div *ngIf="errmessage" role="alert">
        Errore durante il login: {{ errmessage }}
    </div>

    <input type="submit" (click)="login(usernameText.value, passwordText.value);" value="Login">
    <p><a routerLink="/signup">Sign-up new user</a></p>


</form>