.flight-head {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.flight-head-element {

}

/* Style for individual seats */
.free-seat, .occupy-seat, .my-seat {
    border: 1px solid black;
    width: 30%;
    height: 2rem;
    border-radius: 4px;
    padding: 0.5rem 0.15rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Hover effect for seats */
.free-seat:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
}

/* Style for unavailable seats */
.occupy-seat {
    background-color: #e0e0e0;
    color: #999;
    /* cursor: not-allowed; */
    text-decoration: line-through;
    pointer-events: none;
}

.my-seat {
    background-color: #65be7b;
    color: #3d3d3d;
    pointer-events: none;

}

/* Responsive design for seats */
@media (max-width: 600px) {
    .seats-section div div {
        flex: 1 1 calc(50% - 1rem); /* Adjust seat size for smaller screens */
    }
}