.flight-head {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.flight-head-element {

}

/* Style for the seats-section container */
.seats-section {
    margin-top: 2rem;
    padding: 1rem;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #f9f9f9;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

/* Style for seat category headers (e.g., Economy, Business, First Class) */
.seats-column-title {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #007bff;
    text-transform: uppercase;
    /* border-bottom: 2px solid #007bff; */
    display: inline-block;
    padding-bottom: 0.2rem;
    width: 100%;
    text-align: center;
}

/* Style for seat containers */
.seats-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction:initial;
    gap: 1rem;
    margin-top: 1rem;
    width: 25%
}
/* Style for individual seats */
.free-seat, .occupy-seat, .my-seat {
    border: 1px solid black;
    width: 25;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/* Hover effect for seats */
.free-seat:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
}

/* Style for unavailable seats */
.occupy-seat {
    background-color: #e0e0e0;
    color: #999;
    /* cursor: not-allowed; */
    text-decoration: line-through;
    pointer-events: none;
}

.my-seat {
    background-color: #65be7b;
    color: #3d3d3d;
    pointer-events: none;

}

/* Responsive design for seats */
@media (max-width: 600px) {
    .seats-section div div {
        flex: 1 1 calc(50% - 1rem); /* Adjust seat size for smaller screens */
    }
}