<br>

<div *ngIf="flight">
    <div class="flight-head">
        <div class="flight-head-element">
            <h3>{{ flight.departure.airportName }}</h3>
            <i>{{ flight.departureDate | date: 'full':'+0100':'it-IT' }}</i>
        </div>
        <div class="flight-head-element">
            <h3>&rarr;</h3>
        </div>
        <div class="flight-head-element">
            <h3>{{ flight.destination.airportName }}</h3>
            <i>{{ flight.destinationDate | date: 'full':'+0100':'it-IT' }}</i>
        </div>
    </div>
    
    <!-- use css to adjust margin and spaces -->
    <br><br> 
    
    
    {{flight.aircraft.producer}} {{ flight.aircraft.modelName }} <br>
    <i><h3>{{ flight.aircraft.airline.name }}</h3></i> <br>

    <div class="seats-section">
        <div class="seats-column">
            <h5 class="seats-column-title">Economy</h5>
            <div *ngFor="let seat of flight.aircraft.economySeats" 
                [ngClass]="{
                    'free-seat': seat.passenger == null,
                    'my-seat': seat.passenger == myId,
                    'occupy-seat': seat.passenger != null && seat.passenger != myId                }" (click)="bookSeat(seat._id, seat.seatNumber, seat.seatPrice)">
                {{seat.seatNumber}}, {{seat.seatPrice}} €
            </div>
        </div> 

        <div class="seats-column">
            <h5 class="seats-column-title">Business</h5>
            <div *ngFor="let seat of flight.aircraft.businessSeats" 
                [ngClass]="{
                    'free-seat': seat.passenger == null,
                    'my-seat': seat.passenger == myId,
                    'occupy-seat': seat.passenger != null && seat.passenger != myId   
                }" (click)="bookSeat(seat._id, seat.seatNumber, seat.seatPrice)">
                {{seat.seatNumber}}, {{seat.seatPrice}} €
            </div>
        </div>

        <div class="seats-column">
            <h5 class="seats-column-title">Prima classe</h5>
            <div *ngFor="let seat of flight.aircraft.firstClassSeats" 
                [ngClass]="{
                    'free-seat': seat.passenger == null,
                    'my-seat': seat.passenger == myId,
                    'occupy-seat': seat.passenger != null && seat.passenger != myId 
                }" (click)="bookSeat(seat._id, seat.seatNumber, seat.seatPrice)">
                {{seat.seatNumber}}, {{seat.seatPrice}} €
            </div>
        </div>
    
    
    
    </div>
</div>


