<div>
    <h3> Admin dashboard </h3>
    <br>

    <div class="airline-registration">
        <label for="name">Nome </label>
        <input type="text" id="name" required #nameText>
        <br>
        <label for="username">Username </label>
        <input type="text" id="username" required #usernameText>
        <br>
        <label for="email">Email </label>
        <input type="text" id="email" required #emailText>
        <br>
        <label for="password">Password </label>
        <input type="password" id="password" required #passwordText>
        <br>
        
        <input type="submit" value="Crea utente" (click)="createAirline(usernameText.value, nameText.value, passwordText.value, emailText.value)">
    </div>

    <div>
        {{errmessage}}
    </div>
</div>
