<div>
    <h2> Admin dashboard </h2>

    <div class="dashboard">
        
        <div class="admin-dashboard-element">
            <h4>Crea nuova linea aerea</h4>
            <label for="name">Nome </label>
            <input type="text" id="name" required [(ngModel)]=nameText>
            <br>
            <label for="username">Username </label>
            <input type="text" id="username" required [(ngModel)]=usernameText>
            <br>
            <label for="email">Email </label>
            <input type="text" id="email" required [(ngModel)]=emailText>
            <br>
            <label for="password">Password </label>
            <input type="password" id="password" required [(ngModel)]="passwordText" (keyup.enter)="createAirline(usernameText, nameText, passwordText, emailText)">
            <br>
            
            <input type="submit" value="Crea utente" (click)="createAirline(usernameText, nameText, passwordText, emailText)">
            <div role="alert">
                {{airlineerrmessage}}
                
            </div>
        </div>


        <div class="admin-dashboard-element">
            <h4>Elimina utenti</h4>
            <label for="Utenti">Utente</label>
            <select title="utenti" [(ngModel)]="this.selectedUser">
                <option *ngFor="let user of users | async" [value]="user._id">
                    {{user.username}}, {{user.role}}
                </option>
            </select>

            <input type="submit" (click)="deleteUser()"value="Elimina utente">
            <div role="alert">
                {{deleteusererrmessage}}                
            </div>

        </div>
    

    </div>
</div>
