<div>
    <h2 class="page-title">Gestione profilo</h2>

    <div class="profile-header">
        <div class="user-info">
            <p>{{ us.get_name() }} 
                <b *ngIf="us.is_passenger()">{{ us.get_surname() }}</b>
            </p>
            <p>{{ us.get_mail() }}</p> 
            <p>{{ us.get_role() }}</p>
        </div>
    
        <div [ngClass]="showPasswordUpdater ? 'change-password-outer' : ''">
            <button (click)="togglePasswordChanger()" class="change-password-toggle">
                {{ showPasswordUpdater ? 'Chiudi' : 'Cambia password' }}
            </button>
            <div *ngIf="showPasswordUpdater" class="change-password-inner">
                
                <label for="oldPsw">Password attuale</label>
                <input type="password" id="oldPsw" #oldPsw> 
                <label for="newPsw">Nuova password</label>
                <input type="password" id="newPsw" #newPsw (keyup.enter)="updatePassword(oldPsw.value, newPsw.value)"> 
                <button (click)="updatePassword(oldPsw.value, newPsw.value)">Aggiorna password</button>
                <div *ngIf="updatePswErrorMsg" role="alert">
                    Errore: {{ updatePswErrorMsg }}
                </div>
                
            </div>
        </div>
    </div>

    <div *ngIf="us.is_passenger()">
        
        <h4>I miei biglietti</h4>
        <div class="my-flights">
            <h5 style="text-align: center;" *ngIf="mySeats.length==0">Non hai ancora prenotato nessun volo</h5>

            <div *ngFor="let flight of mySeats" class="flight">
                <div class="flight-head">
                    <div class="flight-head-element">
                        <h3>{{ flight.departure.airportName }}</h3>
                        <i>{{ flight.departureDate | date: 'full':'+0100':'it-IT' }}</i>
                    </div>
                    <div class="flight-head-element">
                        <h3>&rarr;</h3>
                    </div>
                    <div class="flight-head-element">
                        <h3>{{ flight.destination.airportName }}</h3>
                        <i>{{ flight.destinationDate | date: 'full':'+0100':'it-IT' }}</i>
                    </div>

                </div>

                <div class="seats">
                    <div *ngFor="let seat of flight.seats" class="seat">
                        <div class="seat-info">
                            <p>
                                <i>{{seat.class}}</i> - {{ seat.seatNumber }}, {{ seat.seatPrice + sumExtra(seat)}} € 
                            </p>
                            <p>
                                {{ seat.passengerName }}
                            </p>
                        </div>
                        <button *ngIf="isAfterToday(flight.departureDate)" class="delete-button" (click)="deleteBooking(flight.flightId, seat._id)">🗑️</button>
                        <button *ngIf="isAfterToday(flight.departureDate)" class="delete-button" (click)="startEditing(flight, seat)">✏️</button>
                    </div>
                </div>
            </div>
    
    
        </div>

    </div>


</div>


<div class="pop-up-box-overlay" *ngIf="showEditSeat">
    <div class="pop-up-box">
        <h4 class="pop-up-box-title">Modifica dati biglietto</h4>
        <button class="close-round-button" (click)="showEditSeat=false;">❌</button>
        <table>
            <tr><td>Classe</td> <td>{{seatToEdit.class}}</td></tr>
            <tr><td>Prezzo</td> <td>{{seatToEdit.seatPrice}} €</td></tr>
            <tr><td>Nominativo</td> <td>{{seatToEdit.passengerName}}</td></tr>
            <tr *ngFor="let extra of createRange(this.extrasAvailable.length); let i=index;">
                        <td><span *ngIf="i==0">Extra a disposizione</span></td> 
                        <td>{{extrasAvailable[i].name}} </td><td>{{extrasAvailable[i].price}} €</td>
                        <td>
                            <button *ngIf="hasExtra(extrasAvailable[i].name)" class="pop-up-box-button-remove" (click)="removeExtra(extrasAvailable[i])">&nbsp;-&nbsp;</button>
                            <button *ngIf="!hasExtra(extrasAvailable[i].name)" class="pop-up-box-button-add" (click)="seatToEdit.extras.push(extrasAvailable[i])">+</button>
                        </td>
                        
                    </tr>
        </table>
        <button class="pop-up-box-confirm" (click)="confirmEdit()">Conferma modifiche</button>
    </div>

</div>